# Group 110 - {Bitcoin Analysis}
--- 
The analysis of bitcoin throught the years 2013 to 2018.
<br>
## Tasks
---
#### Method Chaining and Python Programs:
---

In [1]:
from scripts import project_functions as pf

In [9]:
path1 = "../../data/raw/bitcoin_price_dataset.csv"
df = pf.load(path1)
df = pf.sort(df,'Volume')
df

,Date,Open,High,Low,Close,Volume,Market Cap
267,"May 29, 2017",2159.43,2307.05,2107.17,2255.61,"994,625,000","35,323,500,000"
220,"Jul 15, 2017",2230.12,2231.14,1990.41,1998.86,"993,608,000","36,681,300,000"
473,"Nov 04, 2016",689.12,706.93,685.56,703.24,"99,907,700","10,996,400,000"
427,"Dec 20, 2016",792.25,801.34,791.50,800.88,"99,629,300","12,717,600,000"
615,"Jun 15, 2016",685.68,696.30,672.56,694.47,"99,223,800","10,736,600,000"
...,...,...,...,...,...,...,...
1601,"Oct 03, 2013",114.45,123.63,111.82,123.63,-,"1,348,700,000"
1602,"Oct 02, 2013",132.05,133.59,102.25,114.13,-,"1,555,470,000"
1603,"Oct 01, 2013",132.68,134.63,131.55,132.18,-,"1,562,270,000"
1604,"Sep 30, 2013",137.15,138.35,130.27,133.00,-,"1,614,350,000"
1759,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000"

***The table shown ABOVE is organized by increasing volume***
<br>
<br>

#### Conduct an Exploratory Data Anaylysis on Dataset
---

Firstly, in order to better understand our dataset, we must first understand its layout, which includes the number of rows and columns.

In [3]:
num_columns = pf.countColumns(df)
num_rows = pf.countRows(df)

print("Number of Rows: %d \nNumber of Cols: %d"%(num_rows,num_columns))

Number of Rows: 1760
Number of Cols: 7

<br>

Now that we have the number of rows and columns, let us find out what the idetifiers for the columns are

In [5]:
pf.listColumns(df)

Date
Open
High
Low
Close
Volume
Market Cap

We can see that there are indeed 7 columns: Date, Open, High, Low, Close, Volume and Market Cap.
Let us move on to see if there is any values that stand out which might be a possible error.

In [6]:
df.describe()

               Open          High           Low         Close
count   1760.000000   1760.000000   1760.000000   1760.000000
mean    1479.574239   1536.991108   1418.251273   1485.747000
std     2950.457188   3092.950362   2780.859459   2959.265478
min       68.500000     74.560000     65.530000     68.430000
25%      274.730000    279.857500    268.640000    274.875000
50%      480.715000    495.195000    472.510000    482.810000
75%      870.085000    900.222500    831.682500    871.370000
max    19475.800000  20089.000000  18974.100000  19497.400000

From this, we can see the count of Open,High, Low and Close match each other, meaning that none of the values are missing or NA for those particular columns. The mean, min and max values seem to be reasonable and there are no outliers worth removing.