# Group 110 - {Bitcoin Analysis}
--- 
The analysis of bitcoin throught the years 2013 to 2018.
## Milestones
---
#### ~Milestone 1:~ *(Completed)*
 - ~Task 1: Project Setup~
 - ~Task 2: Choosing topic and dataset, and get approval~
 - ~Task 3: Introduce and describe dataset and topic~
 
#### Milestone 2:
 - ~Task 1: Introduction to Markdown~
 - ~Task 2: Introduction to Git merges, branches, and more~
 - Task 3: Method Chaining and Python Programs
 - Task 4: Conduct an Exploratory Data Analysis (EDA) on your dataset
 - Task 5: Conduct your analysis to help answer your research question(s)

In [1]:
from scripts import project_functions as pf

In [5]:
path1 = "../../data/raw/bitcoin_price_dataset.csv"
df = pf.load(path1)
df = pf.sort(df,'High')

,Date,Open,High,Low,Close,Volume,Market Cap
65,"Dec 17, 2017",19475.80,20089.00,18974.10,19140.80,"13,314,600,000","326,141,000,000"
66,"Dec 16, 2017",17760.30,19716.70,17515.30,19497.40,"12,740,600,000","297,376,000,000"
64,"Dec 18, 2017",19106.40,19371.00,18355.90,19114.20,"14,839,500,000","320,000,000,000"
63,"Dec 19, 2017",19118.30,19177.80,17275.40,17776.70,"16,894,500,000","320,242,000,000"
74,"Dec 08, 2017",17802.90,18353.40,14336.90,16569.40,"21,136,000,000","297,787,000,000"
...,...,...,...,...,...,...,...
1688,"Jul 08, 2013",76.50,80.00,72.60,76.52,-,"870,912,000"
1691,"Jul 05, 2013",79.99,80.00,65.53,68.43,-,"909,526,000"
1687,"Jul 09, 2013",76.00,78.30,72.52,76.69,-,"865,585,000"
1690,"Jul 06, 2013",68.50,75.00,66.82,70.28,-,"779,255,000"
1689,"Jul 07, 2013",68.75,74.56,66.62,74.56,-,"782,352,000"